*
{
    margin: 0;
    padding: 0;
}
section{
  position: fixed;
  width: 100%;
  height:100vh;
  background:rgb(23, 93, 79);
  overflow:hidden;
}
section .wave{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background:url(wave.png);
  background-size: 1000px 100px;
}
section .wave.wave1{
  animation: animate 30s linear infinite;
  z-index:1000;
  opacity:1;
  animation-delay:0s;
  bottom:0;
}
section .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: index 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 1px;
}
section .wave.wave4{
  animation: animate2 15s linear infinite;
  z-index: index 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate{
  0%
  {
    background-position-x:0;
  }
  100%
  {
    background-position-x:1000px;
  }
}
  @keyframes animate2{
    0%
    {
      background-position-x:0;
    }
    100%
    {
      background-position-x: -1000px;
    }
}
body{
    background-color: rgb(23, 42, 93);
}
.uniquifier {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .content{
    width: 100%;
    position:absolute;
    color:rgb(0, 0, 0);
    top:45%;
    transform: translateY(-50%);
    text-align:center;
  }
  .content h1{
    color: black;
    padding-top: 800px;
    margin-top:10px;
    font-size:50px;
    font-weight:700;
    font-family:"Exo", sans-serif;
  }
  .content p{
    margin-top: 50px;
    font-size:20px;
    color:black;
    font-family: "Exo", sans-serif;
  }
  .content h3{
    color:black;
    margin-top:70px;
    font-family:"Exo", sans-serif;
    text-align: left;
    margin-left: 130px;
    font-size: 30px;
  }
  .content li{
    margin-top:20px;
    font-family:"Exo", sans-serif;
    text-align: left;
    margin-left: 130px;
    font-size: 20px;
  }
  button{
    font-family: "Exo", sans-serif;
    width: 200px;
    padding:15px;
    margin:20px 5px;
    text-align:center;
    border-radius:25px;
    color:black;
    border:2px;
    font-size: 20px;
    cursor:pointer;
    font-weight:400;
  }
  button:hover{
    background-color:rgba(23, 42, 93, 0.463);
    transition:0.5s;
  }
  button:hover{
    color:white;
  }

