*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(23, 42, 93);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.bubbles{
    position:relative;
    display:flex;
}
.bubbles span{
    position:relative;
    width:30px;
    height:30px;
    background:rgb(52, 207, 207);
    margin:0 4px;
    border-radius:50px;
    box-shadow:0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation:animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));    
}
.bubble span::nth-child(even)
{
    background: #ff2d75;
    border-radius:50px;
    box-shadow:0 0 0 10px #ff2d7544, 
    0 0 50px #ff2d75, 
    0 0 100px #ff2d75;
    animation:animate 15s linear infinite; 
}
@keyframes animate{
    0%
    {
        transform:translateY(100vh) scale(0);
    }
    100%
    {
        transform:translateY(-10vh) scale(1);
    }
}
  .content{
    width: 100%;
    position:absolute;
    color:white;
    top:45%;
    transform: translateY(-50%);
    text-align:center;
  }
  .nav{
    text-align: center;
    padding-left: 350px;
  }
  .content h1{
    margin-top:80px;
    font-size:90px;
    font-weight:700;
    font-family:"Exo", sans-serif;
  }
  button{
    font-family: "Exo", sans-serif;
    width: 200px;
    padding:15px;
    margin:20px 5px;
    text-align:center;
    border-radius:25px;
    color:black;
    border:2px;
    font-size: 20px;
    cursor:pointer;
    font-weight:400;
  }
  button:hover{
    background-color:rgba(23, 42, 93, 0.463);
    transition:0.5s;
  }
  button:hover{
    color:white;
  }
  nav .nav{
    display:flex;
    color:transparent;
    align-content: center;
    padding-left: 350px;
    padding-top:0px;
    font-size:20px;
}
ul {
    color: #e8e0e0;
    font-size: 20px;
    padding: 12px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul{
    backdrop-filter:inherit;
    list-style-type: none;
    color: rgba(72, 70, 111, 0.362);
    border-radius: 20px;
    display:flex;
    align-items: center;
}

nav:hover{
    align-items:center;
}
nav a {
    font-display:var(-50%);
    position:sticky;
    font-size: 1em;
    font-weight: 500;
    padding:5px 30px;
    display:flex;
    color: white;
    text-decoration: none;
    text-align:center;
    text-shadow: 10px;
    z-index: 1;
}
nav a::before{
    content:'';
    position:absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}
nav a:hover::before{
    width: 100px;
}
nav a:hover {
    color:rgba(254, 254, 254, 0.433);
    transition: color 0.3s ease;
}
.uniquifier {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

nav ul li {
    float: left;
}
nav a ul li, .dropbtn {
    color: white;
    transition: transform 0,3; background-color: rgba(0, 0, 0, 0.614) 0,3s;
}

nav ul li.dropdown {
    display: inline-block;
}

nav ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav ul .dropdown:hover .dropdown-content {
    display: block;
}